@*@model System.Collections.Generic.List<Models.Contact>*@

@{
    ViewBag.Title = "Home Page";
}

<form id="contactForm">
    <div class="row">
        <div class="col-md-4">
            <label for="firstname">First name</label>
            <input class="form-control" type="text" id="firstname" value="" />
        </div>
        <div class="col-md-4">
            <label for="lastname">Last name</label>
            <input class="form-control" type="text" id="lastname" value="" />
        </div>
        <div class="col-md-4">
            <label for="phoneNumber">Phone Number</label>
            <input class="form-control" type="number" id="phoneNumber" value="" />
        </div>
    </div>
    <input hidden id="hiddenId" />
</form>
<div class="mt-5">
    <button class="btn btn-success" onclick="Save()">Save</button>
</div>
<table class="table table-response ">
    <thead>
        <tr>
            <th>ّFirst name</th>
            <th>Last name</th>
            <th>Phone number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="tbl_contactBody" name="tbl_contactBody" class="customTabel">
    </tbody>
</table>

<script>

    GetContacts();
    function ClearForm() {
        document.getElementById('contactForm').reset();
    }


    function GetContacts() {

        var url = '/PhoneBook/GetContacts'

        $.get(url, function (mehdi) {
            var html = '';

            for (var i = 0; i < mehdi.length; i++) {
                html += '<tr>'
                html += '<td>' + mehdi[i].Firstname + '</td>'
                html += '<td>' + mehdi[i].Lastname + '</td>'
                html += '<td>' + mehdi[i].PhoneNumber + '</td>'
                html += '<td>';
                html += '<div class="btn-group">';
                html += '<button class="btn btn-primary" onclick="GetContactById(' + "'" + mehdi[i].Id + "'" + ')"> edit</button>';
                html += '<button class="btn btn-danger" onclick="Delete(' + "'" + mehdi[i].Id + "'" + ')"> delete</button>';
                html += '</div>';
                html += '</td>';


                //+ mehdi[i].PhoneNumber + '</td>'
                html += '</tr>'
            }

            $('#tbl_contactBody').html(html);

        })
    }

    function GetContactById(Id) {
        debugger;
        var url = '/PhoneBook/GetContactById/' + Id;

        $.get(url, function (result) {
            $('#firstname').val(result.Firstname)
            $('#lastname').val(result.Lastname)
            $('#phoneNumber').val(result.PhoneNumber)
            $('#hiddenId').val(result.Id)


        })
    }


    function validateModel(model) {
        const phoneRegex = /^09\d{9}$/;
        const nameRegex = /^[\u0600-\u06FF\s]+$/;
        if (!nameRegex.test(model.Firstname)) {
            console.log("Invalid first name");
            window.alert("Invalid first name");
            return false;
        }
        else if (!nameRegex.test(model.Lastname)) {
            console.log("Invalid last name");
            window.alert("Invalid last name");
            return false;
        }
        else if (!phoneRegex.test(model.PhoneNumber)) {
            console.log("Invalid phone number");
            window.alert("Invalid phone number");
            return false;
        }
        return true;
    }

    function Save() {
        var url = '/PhoneBook/Save'

        var model = {};
        model.Firstname = $('#firstname').val();
        model.Lastname = $('#lastname').val();
        model.PhoneNumber = $('#phoneNumber').val();
        model.Id = $('#hiddenId').val();
        if (validateModel(model)
        ) {
            $.post(url, { model: model }, function (result) {
                debugger
                GetContacts();
                ClearForm();
            })
        }
    }


    function Delete(id) {
        var url = '/PhoneBook/DeleteById/' + id

        $.get(url, function (result) {
            GetContacts();

        })
    }


</script>